<mat-tab-group color="accent" backgroundColor="primary">
  <mat-tab [label]="'general' | translate">
    General
  </mat-tab>
  <mat-tab [label]="'comments' | translate">
    Chat
  </mat-tab>
  <mat-tab [label]="'players' | translate">
    Players
  </mat-tab>
  <mat-tab [label]="'turns' | translate">
    Turns
  </mat-tab>
  <mat-tab [label]="'inGameOptions' | translate">
    In-Game Options
  </mat-tab>
  <mat-tab [label]="'visibility' | translate">
    Visibility
  </mat-tab>
</mat-tab-group>
