<ng-template #loadingBar>
  <mat-progress-bar
    class="loading-indicator"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>
</ng-template>
<form #settingsForm="ngForm" fxLayout="row" fxLayoutAlign="center">
  <div
    *ngIf="(settings$ | async); let settings; else: loadingBar"
    fxFlex="0 1 640px"
    fxFlexAlign="center"
    class="settings-panel"
  >
    <mat-card>
      <mat-card-title class="mat-title">
        {{ "profile" | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ "profilePubliclyVisible" | translate }}
      </mat-card-subtitle>
      <mrobot-setting-row
        [title]="'vacationMode' | translate"
        [description]="'vacationModeDescription' | translate"
      >
        <mat-slide-toggle
          color="primary"
          name="vacationMode"
          [aria-label]="'vacationMode' | translate"
          [(ngModel)]="settings.vacationMode"
        ></mat-slide-toggle>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row
        [title]="'country' | translate"
        [description]="'countryDescription' | translate"
      >
        <mat-form-field>
          <mat-label>{{ "country" | translate }}</mat-label>
          <mat-select name="country" [(ngModel)]="settings.country">
            <mat-select-trigger>
              <img
                *ngIf="settings.country"
                class="flag-img"
                [src]="countryService.getFlagImgForCode(settings.country)"
              />
              {{ "countryCode." + settings.country | translate }}
            </mat-select-trigger>
            <mat-option [value]="null">{{ "unspecified" | translate }}</mat-option>
            <mat-option
              *ngFor="let country of countries"
              [value]="country.code"
            >
              <img class="flag-img" [src]="country.smallFlag" />
              {{ "countryCode." + country.code | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row
        [title]="'typicalAvailability' | translate"
        [description]="'typicalAvailabilityDescription' | translate"
      ></mrobot-setting-row>
      <mat-button-toggle-group
        name="availableHours"
        [(ngModel)]="settings.availableHours"
        class="hours-selector"
        multiple="true"
      >
        <mat-button-toggle *ngFor="let hour of hours" [value]="hour">
          {{ hour | hour }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card>
    <mat-card>
      <mat-card-title class="mat-title">
        {{ "appearance" | translate }}
      </mat-card-title>
      <mrobot-setting-row
        [title]="'webAppTheme' | translate"
        [description]="'webAppThemeDescription' | translate"
      >
        <mat-form-field>
          <mat-label>{{ "theme" | translate }}</mat-label>
          <mat-select name="theme" [(ngModel)]="settings.theme">
            <mat-option value="DARK">{{ "dark" | translate }}</mat-option>
            <mat-option value="LIGHT">{{ "light" | translate }}</mat-option>
            <mat-option value="KING_DARK">
              {{ "kingDark" | translate }}
            </mat-option>
            <mat-option value="KING_LIGHT">
              {{ "kingLight" | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mrobot-setting-row>
    </mat-card>
    <mat-card>
      <mat-card-title class="mat-title">
        {{ "discord" | translate }}
      </mat-card-title>
      <mrobot-setting-row
        [title]="'connectToDiscord' | translate"
        [description]="'connectToDiscordDescription' | translate"
      >
        <div>
          <button
            mat-flat-button
            class="discord-connect"
            (click)="onDiscordClick(settings)"
            [disabled]="settingsForm.dirty"
          >
            <mat-icon svgIcon="discord"></mat-icon>
            {{
              (settings.discordConnected ? "disconnect" : "connect")
                | translate
                | uppercase
            }}
          </button>
          <div class="mat-small discord-note" *ngIf="settingsForm.dirty">
            {{
              (settings.discordConnected
                ? "saveBeforeDiscordDisconnect"
                : "saveBeforeDiscordConnect") | translate
            }}
          </div>
        </div>
      </mrobot-setting-row>
      <div *ngIf="settings.discordConnected">
        <mrobot-setting-row
          [title]="'showDiscordOnProfile' | translate"
          [description]="'showDiscordOnProfileDescription' | translate"
        >
          <mat-slide-toggle
            color="primary"
            name="discord.showOnProfile"
            [aria-label]="'showDiscordOnProfile' | translate"
            [(ngModel)]="settings.discord.showOnProfile"
          ></mat-slide-toggle>
        </mrobot-setting-row>
        <mrobot-setting-row
          [title]="'joinGDM' | translate"
          [description]="'joinGDMDescription' | translate"
        >
          <mat-slide-toggle
            color="primary"
            name="discord.joinGDM"
            [aria-label]="'joinGDM' | translate"
            [(ngModel)]="settings.discord.joinGDM"
          ></mat-slide-toggle>
        </mrobot-setting-row>
      </div>
    </mat-card>
    <mat-card>
      <mat-card-title class="mat-title">
        {{ "notifications" | translate }}
      </mat-card-title>
      <mrobot-setting-row
        [title]="'email' | translate"
        [description]="'emailDescription' | translate"
      >
        <mat-slide-toggle
          color="primary"
          [aria-label]="'email' | translate"
          name="emailNotifications"
          [(ngModel)]="emailNotifications"
          (change)="onEmailNotificationsChanged($event, settings)"
        ></mat-slide-toggle>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row
        *ngIf="emailNotifications"
        [title]="'emailAddress' | translate"
        [description]="'emailAddressDescription' | translate"
      >
        <mat-form-field>
          <mat-label>{{ "email" | translate }}</mat-label>
          <input
            matInput
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            type="email"
            name="emailAddress"
            [(ngModel)]="settings.emailAddress"
          />
        </mat-form-field>
      </mrobot-setting-row>
      <mat-divider *ngIf="emailNotifications"></mat-divider>
      <div class="mat-title">{{ "whatYouGetNotifiedAbout" | translate }}</div>
      <mrobot-setting-row [title]="'gameInvitations' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.gameInvitations"
          [(ngModel)]="settings.notifications.gameInvitations"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row [title]="'playerJoinsGame' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.playerJoinedGame"
          [(ngModel)]="settings.notifications.playerJoinedGame"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row [title]="'itsMyTurn' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.turn"
          [(ngModel)]="settings.notifications.turn"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row [title]="'gameEnded' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.gameEnded"
          [(ngModel)]="settings.notifications.gameEnded"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row [title]="'turnTimerModified' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.turnTimerModified"
          [(ngModel)]="settings.notifications.turnTimerModified"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row [title]="'iveBeenSkipped' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.skipped"
          [(ngModel)]="settings.notifications.skipped"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row [title]="'gameComment' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.comment"
          [(ngModel)]="settings.notifications.comment"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
      <mat-divider></mat-divider>
      <mrobot-setting-row [title]="'privateMessageReceived' | translate">
        <mat-button-toggle-group
          multiple="true"
          name="notifications.privateMessage"
          [(ngModel)]="settings.notifications.privateMessage"
        >
          <mat-button-toggle
            color="primary"
            value="EMAIL"
            [disabled]="!emailNotifications"
          >
            <mat-icon svgIcon="email"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            color="primary"
            value="DISCORD"
            [disabled]="!settings.discordConnected"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mrobot-setting-row>
    </mat-card>
    <button
      type="submit"
      mat-fab
      class="docked-fab"
      [matTooltip]="'save' | translate"
      matTooltipPosition="above"
      (click)="save(settings)"
      [disabled]="settingsForm.pristine"
    >
      <mat-icon svgIcon="content-save"></mat-icon>
    </button>
    <button
      mat-mini-fab
      class="docked-fab-secondary"
      [matTooltip]="'resetChanges' | translate"
      matTooltipPosition="above"
      (click)="settingsForm.reset(initialFormValue)"
      [disabled]="settingsForm.pristine"
    >
      <mat-icon svgIcon="undo-variant"></mat-icon>
    </button>
  </div>
</form>
