<div fxLayout="row" fxLayoutAlign="center">
  <div
    *ngIf="(settings$ | async); let settings"
    fxFlex="0 1 640px"
    fxFlexAlign="center"
    class="settings-panel"
  >
    <div class="setting-row" fxLayout="row">
      <div fxLayout="row" fxFlex="1 1 auto">
        <div fxFlexAlign="center">
          <div class="mat-subheading-2">{{ "webAppTheme" | translate }}</div>
          <div class="mat-small">{{ "webAppThemeDescription" | translate }}</div>
        </div>
      </div>
      <div>
        <mat-form-field color="accent" appearance="fill">
          <mat-label>{{ "theme" | translate }}</mat-label>
          <mat-select
            [(value)]="settings.theme"
            (selectionChange)="save(settings)"
          >
            <mat-option value="dark">{{ "dark" | translate }}</mat-option>
            <mat-option value="light">{{ "light" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
