@import "~@angular/material/theming"
@import "./component-themes"
@include mat-core()

$mrobot-warn-light: mat-palette($mat-red)
$mrobot-warn-dark: mat-palette($mat-red, A200, A100, A700)

@mixin root-theme($theme)
  body
    background-color: map-get(map-get($theme, background), background)

.mrobot-DARK
  $primary: mat-palette($mat-light-green)
  $accent: mat-palette($mat-cyan, A400, 100, A700)
  $dark-theme: mat-dark-theme($primary, $accent, $mrobot-warn-dark)
  @include angular-material-theme($dark-theme)
  @include root-theme($dark-theme)
  @include component-themes($dark-theme)

.mrobot-LIGHT
  $primary: mat-palette($mat-light-green, 600)
  $accent: mat-palette($mat-cyan, 600)
  $light-theme: mat-light-theme($primary, $accent, $mrobot-warn-light)
  @include angular-material-theme($light-theme)
  @include root-theme($light-theme)
  @include component-themes($light-theme)

.mrobot-KING_DARK
  $primary: mat-palette($mat-amber)
  $accent: mat-palette($mat-deep-purple, A100, 50, A700)
  $dark-theme: mat-dark-theme($primary, $accent, $mrobot-warn-dark)
  @include angular-material-theme($dark-theme)
  @include root-theme($dark-theme)
  @include component-themes($dark-theme)

.mrobot-KING_LIGHT
  $primary: mat-palette($mat-amber)
  $accent: mat-palette($mat-purple)
  $light-theme: mat-light-theme($primary, $accent, $mrobot-warn-light)
  @include angular-material-theme($light-theme)
  @include root-theme($light-theme)
  @include component-themes($light-theme)
