.sidenav-container,
.drawer-content
  min-height: 100vh

.sidenav
  width: 200px

  .logo
    margin-top: 6px
    height: auto
    width: auto

  .mat-nav-list
    .mat-icon
      margin-right: 10px
    .mat-list-item
      width: auto
      height: 38px
      margin: 5px 8px
      border-radius: 5px

  .mat-toolbar
    background: inherit

  .mat-toolbar-single-row
    padding: 0 8px

  .social-links
    padding: 10px 20px
    .mat-icon
      margin: 5px

.app-bar
  position: fixed
  top: 0
  z-index: 999

  .top-left-button
    margin-right: 10px
