<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <div fxLayout="column" class="drawer-content">
      <mat-toolbar>
        <mat-icon class="logo" svgIcon="mrobot-full"></mat-icon>
      </mat-toolbar>
      <mat-nav-list>
        <div *ngFor="let navItem of navItems">
          <a
            mat-list-item
            [title]="navItem.title | translate"
            [class.selected]="
              activatedRoute$ | async | routeIsSelected: navItem.route
            "
            [routerLink]="['/' + navItem.route]"
          >
            <mat-icon [svgIcon]="navItem.icon"></mat-icon>
            {{ navItem.title | translate }}
          </a>
          <mat-divider *ngIf="navItem.divider"></mat-divider>
        </div>
        <div class="social-links">
          <a
            [title]="'discord' | translate"
            href="https://discord.gg/a69AyKk"
            target="_blank"
          >
            <mat-icon svgIcon="discord"></mat-icon>
          </a>
          <a
            [title]="'facebook' | translate"
            href="https://facebook.com/MultiplayerRobot/"
            target="_blank"
          >
            <mat-icon svgIcon="facebook-box"></mat-icon>
          </a>
          <a
            [title]="'twitter' | translate"
            href="https://twitter.com/GMRobot"
            target="_blank"
          >
            <mat-icon svgIcon="twitter"></mat-icon>
          </a>
          <a
            [title]="'gitHub' | translate"
            href="https://github.com/n7software"
            target="_blank"
          >
            <mat-icon svgIcon="github-circle"></mat-icon>
          </a>
        </div>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="app-bar" color="primary">
      <button
        class="drawer-button"
        type="button"
        [attr.aria-label]="'mainMenu' | translate"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
      <span fxFlex="1 1 auto">
        {{ activatedRoute$ | async | titleFromRouteData | translate }}
      </span>
    </mat-toolbar>
    <div class="mat-toolbar-row"></div>
    <div><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
