<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>
      <mat-icon
        class="logo"
        [attr.aria-label]="'aria.multiplayerRobot' | translate"
        svgIcon="mrobot-full"
      ></mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [class.selected]="activatedRoute$ | async | routeIsSelected: 'games'"
        [routerLink]="['/games']"
      >
        <mat-icon
          [attr.aria-label]="'aria.gamesIcon' | translate"
          svgIcon="games"
        ></mat-icon>
        {{ "games" | translate }}
      </a>
      <a
        mat-list-item
        [class.selected]="
          activatedRoute$ | async | routeIsSelected: 'community'
        "
        [routerLink]="['/community']"
      >
        <mat-icon [attr.aria-label]="'aria.communityIcon' | translate">
          group
        </mat-icon>
        {{ "community" | translate }}
      </a>
      <a
        mat-list-item
        [class.selected]="
          activatedRoute$ | async | routeIsSelected: 'desktop-app'
        "
        [routerLink]="['/desktop-app']"
      >
        <mat-icon [attr.aria-label]="'aria.desktopAppIcon' | translate">
          desktop_windows
        </mat-icon>
        {{ "desktopApp" | translate }}
      </a>
      <a
        mat-list-item
        [class.selected]="activatedRoute$ | async | routeIsSelected: 'boost'"
        [routerLink]="['/boost']"
      >
        <mat-icon [attr.aria-label]="'aria.boostIcon' | translate">
          card_membership
        </mat-icon>
        {{ "boost" | translate }}
      </a>
      <a
        mat-list-item
        [class.selected]="activatedRoute$ | async | routeIsSelected: 'admin'"
        [routerLink]="['/admin']"
      >
        <mat-icon [attr.aria-label]="'aria.adminIcon' | translate">
          security
        </mat-icon>
        {{ "admin" | translate }}
      </a>
    </mat-nav-list>
    <div class="sidenav-spacer"></div>
    <div class="user-footer"></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="app-bar" color="primary">
      <button
        class="drawer-button"
        type="button"
        [attr.aria-label]="'aria.sideNavButton' | translate"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
      >
        <mat-icon [attr.aria-label]="'aria.sideNavIcon' | translate">
          menu
        </mat-icon>
      </button>
      <router-outlet name="app-bar"></router-outlet>
      <span class="page-title">
        {{ activatedRoute$ | async | titleFromRouteData | translate }}
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
