/* You can add global styles to this file, and also import other style files */
@import "./mrobot-colors"

body
  margin: 0
  background-color: map-get(map-get($mrobot-theme, background), background)

.mat-tab-header
  position: fixed !important
  width: 100%
  z-index: 999

.mat-tab-body
  margin-top: 48px
